* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
}

:is(h1, h2, h3, p, .btn, label, span) {
    font-family: 'Raleway', sans-serif !important;
}

.menu {
    display: flex;
    height: 100px;
    background-color: #303030;
}

:is(.brand, .button-logo) {
    margin-top: 30px;
}

.navbar-nav {
    float: right;
    margin-top: 35px;
}

.item {
    margin: 0 10px;
    padding: 5px;
}

.nav_menu {
    display: none;
    padding: 10px;
}

:is(.nav_link, .banner) {
    color: #ffff;
}

.nav_link {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif !important;
    padding-bottom: 10px;
}

.nav_link.active {
    border-bottom: solid 4px #7b6c63;
}

.nav_link:hover {
    border-bottom: solid 4px #7b6c63;
}

:is(.banner, .services, .blog, .contact) {
    margin-bottom: 120px;
}

.banner {
    display: flex;
    background-size: cover;
    background-image: url(https://github.com/Jeim05/Front-end-test/blob/main/images/banner.png?raw=true);
    background-color: rgba(0, 0, 0, .8) !important;
    background-blend-mode: soft-light;
    height: 500px;
    align-items: center;
    background-position: center;
}

.text-color {
    color: #7b6c63;
}

.subtitle-banner {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.title-banner {
    width: 50%;
    font-weight: 500;
}

.btn-download {
    color: #ffff !important;
    background-color: rgba(255, 255, 255, 0.10196078431372549) !important;
    border-radius: 2px !important;
    padding: 10px 45px !important;
    margin-top: 20px;
}

.btn-download:hover {
    background-color: rgba(255, 255, 255, 0.308) !important;
}

.title {
    color: #7b6c63;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.paragraph {
    font-size: 16px;
    line-height: 30px;
}

.service{
    padding: 20px;
}

.service:hover{
    box-shadow: -2px 1px 8px 9px rgb(131 114 114 / 70%) !important
}

.service i {
    color: #7b6c63;
    font-size: 30px;
}


.title-service {
    color: #363636;
    font-size: 20px;
    margin: 20px auto;
}

:is(.paragraph-service, .paragraph-article) {
    color: #949494;
}

:is(.services-provide, .articles) {
    margin-top: 40px !important;
}

:is(.paragraph-blog, .title-article) {
    color: #212121;
}

.blog .title {
    margin-bottom: 30px;
}

.blog hr {
    border: solid 3px #7b6c63;
    width: 60px;
    opacity: 1 !important;
    margin: 0 auto;
    margin-bottom: 20px;
}

.article {
    margin-bottom: 40px;
}

.article .right-text {
    text-align: right;
    padding: 0 60px;
}

.date {
    color: #7b6c63;
    font-weight: 500;
    margin: 0 0 8px;
}

.title-article {
    font-size: 24px;
}

.img-blog {
    width: 70%;
    margin: 0 auto;
}

:is(.slide-blog, .img-blog.right) {
    float: right;
    margin-right: 50px;
}

.slide-blog .carousel-indicators {
    margin-left: 10px !important;
    right: auto !important;
}

.slide-blog .carousel-indicators button {
    background-color: #7b6c63 !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 100%;
}

:is(.carousel-control-next-icon, .carousel-control-prev-icon) {
    background-image: none !important;
    font-size: 40px;
    text-align: center;
    color: #7b6c63;
    width: auto !important;
    height: auto !important;
}

.form-contact {
    margin-top: 25px;
}

.form-contact input {
    border: none !important;
    border-bottom: 3px solid #242424 !important;
    border-radius: 0 !important;
    outline: 0px;
    margin-bottom: 10px;
}

.form-contact input:focus {
    box-shadow: none !important;
}

.form-contact label {
    color: #5b5b5b;
    font-weight: 500;
}

.hr-form {
    opacity: 0.8 !important;
    color: #242424;
    margin: 80px auto 25px;
}

.btn-submit {
    border: 2px solid #000000 !important;
    background-color: rgba(0, 192, 240, 0) !important;
    padding: 10px 50px !important;
    border-radius: 1px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.btn-submit:hover {
    background-color: #303030 !important;
    color: #fff !important;
}

.footer {
    background-color: #222222;
}

.footer .footer-info {
    padding-top: 80px;
}

.footer-info .brand-foot {
    margin-bottom: 20px;
}

.brand-info p {
    padding-right: 20px;
}

.footer-info h3 {
    color: #c2c2c2;
}

.footer-info span {
    font-size: 12px;
    color: #5f5f5f;
}

.footer-info hr {
    color: #7b6c63;
    opacity: 0.2;
    width: 80%;
}

.footer-info p {
    color: #929292;
}

.footer .copyright {
    background-color: #1c1c1c;
    padding: 20px 0;
}

.footer .copyright p {
    color: #595959;
}

@media screen and (max-width:1024px) {

    .menu {
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .nav_menu {
        display: flex;
        margin: 30px 10px 0 0 !important;
        width: 50px;
        height: 50px;
        border: none;
        background: 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav_menu span {
        width: 37px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: .2s linear;
        margin-right: 10px;
    }

    .nav_menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0, 0);
        background: #fff
    }

    .nav_menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px)
    }

    .nav_menu.close span:nth-child(3) {
        display: none
    }

    .navbar-nav--menu {
        background-color: #303030;
        left: 0;
        height: auto;
        width: 100%;
        justify-content: space-evenly;
        opacity: 0;
        pointer-events: none;
        transition: opacity .7s;
        flex-direction: column !important;
        position: fixed;
        z-index: 100;
        padding-bottom: 15px;
    }

    .navbar-nav.show {
        --show: block;
        opacity: 1;
        pointer-events: unset
    }

    .item {
        padding: 20px 10px;
    }

    .col-8-mobile {
        width: 100% !important;
    }

    .banner {
        position: relative;
        top: 100px;
        margin-bottom: 180px;
    }

    .title-banner {
        width: 80%;
    }

    .img-blog {
        width: 90%;
    }

    :is(.slide-blog, .img-blog.right){
        float: none !important;
        margin: 0 auto !important;
    }

    .article .right-text {
        padding-right: 33px;
    }

    .footer .only-mobile{
        flex: 1 0 100%;
    }

    
    .footer {
        text-align: center;
    }

    .footer-info hr {
        margin: 5px auto;
    }

    :is(.footer .post, .feeds, .brand-info, .address) {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:800px) {

    .title-banner {
        width: 100%;
    }

    .only-mobile {
        flex: 1 0 100% !important;
    }

    .only-mobile.service{
        flex: 1 0 80% !important;
        margin: auto 15px !important;
        margin-bottom: 25px !important;
    }

    .order-info {
        order: 1;
    }

    .blog{
        margin-bottom: 60px;
    }

    .img-blog {
        width: 450px;
    }

    .right-text {
        text-align: left !important;
    }

    .info-article{
        padding: 20px !important;
    }

    .article {
        margin-bottom: 60px;
    }

    .form-mobile {
        width: 100% !important;
    }

    .img-center {
        text-align: center !important;
    }


}

@media screen and (max-width:480px) {

    .info-banner {
        text-align: center;
    }

    .img-blog {
        width: 100%;
    }

    .article .right-text {
        padding: 0 12px !important;
    }

}