* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
}

:is(h1, h2, h3, p, .btn, label, span) {
    font-family: 'Raleway', sans-serif !important;
}

.menu {
    display: flex;
    height: 100px;
    background-color: #303030;
}

:is(.brand, .button-logo) {
    margin-top: 30px;
}

.navbar-nav {
    float: right;
    margin-top: 35px;
}

.item {
    margin: 0 10px;
    padding: 5px;
}

.nav_menu {
    display: none;
    padding: 10px;
}

:is(.nav_link, .banner) {
    color: #ffff;
}

.nav_link {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif !important;
    padding-bottom: 10px;
}

.nav_link:hover {
    border-bottom: solid 4px #7b6c63;

}

:is(.banner, .services, .blog, .contact) {
    margin-bottom: 100px;
}

.banner {
    display: flex;
    background-image: url(https://github.com/Jeim05/Front-end-test/blob/main/images/banner.png?raw=true);
    background-color: black;
    height: 500px;
    align-items: center;
}

.text-color {
    color: #7b6c63;
}

.subtitle-banner {
    margin-bottom: 0 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.title-banner {
    width: 50%;
    font-family: 'Raleway', sans-serif;
}

.btn-download {
    color: #ffff !important;
    background-color: rgba(255, 255, 255, 0.10196078431372549) !important;
    border-radius: 2px !important;
    padding: 10px 45px !important;
}

.btn-download:hover {
    background-color: rgba(255, 255, 255, 0.308) !important;
}

.title {
    color: #7b6c63;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.paragraph {
    font-size: 16px;
    line-height: 30px;
}

.service i {
    color: #7b6c63;
    font-size: 30px;
}

.title-service {
    color: #363636;
    font-size: 20px;
    margin-top: 20px;
}

:is(.paragraph-service, .paragraph-article) {
    color: #949494;
}

:is(.services-provide, .articles) {
    margin-top: 40px !important;
}

:is(.paragraph-blog, .title-article) {
    color: #212121;
}

.blog .title {
    margin-bottom: 15px;
}

.blog hr {
    border: solid 3px #7b6c63;
    width: 60px;
    opacity: 1 !important;
    margin: 0 auto;
    margin-bottom: 20px;
}

.article {
    margin-bottom: 40px;
}

.article .right-text{
    text-align: right;
    padding-right: 80px;
}

.date {
    color: #7b6c63;
    font-weight: 500;
}

.title-article {
    font-size: 24px;
}

.img-blog{
    width: 75%;
    margin: 0 auto;
}

.slide-blog .carousel-indicators{
    margin-left: 10px !important;
    right: auto !important;
}

.slide-blog .carousel-indicators button{
    background-color:  #7b6c63 !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 100%;
}

:is(.carousel-control-next-icon, .carousel-control-prev-icon){
    background-image: none !important;
    font-size: 40px;
    text-align: center;
    color: #7b6c63;
    width: auto !important;
    height: auto !important;
}

.form-contact input {
    border: none !important;
    border-bottom: 3px solid #242424 !important;
    border-radius: 0 !important;
    outline: 0px;
    margin-bottom: 10px;
}

.form-contact input:focus {
    box-shadow: none !important;
}

.form-contact label {
    color: #5b5b5b;
}

.btn-submit {
    border: 2px solid #000000 !important;
    background-color: rgba(0, 192, 240, 0) !important;
    padding: 10px 50px !important;
    border-radius: 1px !important;
    font-size: 18px !important;
}

.footer {
    background-color: #222222;
}

.footer .footer-info {
    padding-top: 80px;
}

.footer-info .brand-foot {
    margin-bottom: 20px;
}

.footer-info h3 {
    color: #c2c2c2;
}

.footer-info span {
    font-size: 12px;
    color: #5f5f5f;
}

.footer-info hr {
    color: #7b6c63;
    opacity: 0.2;
    width: 80%;
}

.footer-info p {
    color: #929292;
}

.footer .copyright {
    background-color: #1c1c1c;
    padding: 20px 0;
}

.footer .copyright p {
    color: #595959;
    font-weight: 300;
}

@media screen and (max-width:1024px) {

  .menu{
    position: fixed;
    width: 100%;
    z-index: 100;
  }

    .nav_menu {
        display: flex;
        margin-right: 30px !important;
        margin-top: 30px;
        width: 50px;
        height: 50px;
        border: none;
        background: 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav_menu span {
        width: 37px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: .2s linear;
        margin-right: 10px;
    }

    .nav_menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0, 0);
        background: #fff
    }

    .nav_menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px)
    }

    .nav_menu.close span:nth-child(3) {
        display: none
    }

    .navbar-nav--menu {
        background-color: #303030;
        left: 0;
        height: auto;
        width: 100%;
        justify-content: space-evenly;
        opacity: 0;
        pointer-events: none;
        transition: opacity .7s;
        flex-direction: column !important;
        position: fixed;
        z-index: 100;
        padding-bottom: 15px;
    }

    .navbar-nav.show {
        --show: block;
        opacity: 1;
        pointer-events: unset
    }

    .item{
        padding: 20px 10px;
    }

    .col-8-mobile{
        width: 100% !important;
    }

    .title-banner{
        width: 80%;
    }

    .img-blog{
        width: 90%;
    }

    .article .right-text{
        padding-right: 33px;
    }
}

@media screen and (max-width:800px){
    
    .title-banner{
        width: 100%;
    }

    .only-mobile{
        flex: 1 0 100% !important; 
    }

    .order-info{
        order: 1;
    }

    .img-blog{
        width: 400px;
        margin-bottom: 20px;
    }

    .right-text{
        text-align: left !important;
    }

    .article{
        margin-bottom: 60px;
    }

    .img-center{
        text-align: center !important;
    }

    .footer{
        text-align: center;
    }

    .footer-info hr{
        margin: 0 auto;
    }

    .footer .post, .feeds, .brand-info, .address{
        margin-bottom: 30px;
    }

}

@media screen and (max-width:480px){

    .info-banner{
        text-align: center;
    }

    .img-blog{
        width: 100%;
    }

    .form-mobile{
        width: 100% !important;
    }
    
}
